<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Spring MVC</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <div  th:if="${product != null}">
        <p th:text="'Product Name' + '-' + ${product.name}"/>
        <p>Feature List</p>
        <ul>
            <li th:each="feature: ${product.features}" th:text="${feature.name} + '-' + ${feature.dataType}">

            </li>
        </ul>

    </div>
    <div th:if="${product == null}">
        <p>Hello World</p>
    </div>
</body>
</html>
